body{

background: rgb(99,224,224);

}
header{
    text-align: center;
}
header h1{
    opacity: 0;
}
header h1{ animation: entradaTitulo .8s ease .5s forwards; }
@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
#table{
    padding: 10%;
    margin: 0.5em;
    border-radius: 67px;
    background: #63e0e0;
    box-shadow:  13px 13px 14px #439898,
             -13px -13px 14px #83ffff;
    height: 15em;

}
.buttons{
    display: flex;
  justify-content: center;
}
.btn-img{
    height: 2.5rem;
    width: 2.5rem;
    padding-bottom: 0%;
    margin-bottom: -1%;
}
.btn{

    font-size: 2rem;

}
#add-list{

    border-radius: 67px;
background: #63dd7e;
box-shadow:  5px 5px 0px #5cce75,
             -5px -5px 0px #6aec87;
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0;
}

#add-list{ animation: button .8s ease .5s forwards; }
@keyframes button {
	from {
		opacity: 0;
		transform: translatex(-25px);
	}

	to {
		transform: translatex(0);
		opacity: 1;
	}
}
#add-list:hover{
    background: #419754;
}
#delete-list{
    background-color: rgb(221, 99, 99);
}
.no-style li{
	margin: 0.5em;
	text-align: center;
	line-height: 0.9%;
	list-style-type:none;
	float: left;
}

.list{
    height: 2.5rem;
    width: 2.5rem;

}
